.container-fluid {
    margin-top: 40px;
    height: calc(100vh - 40px);
}

.container-row {
    min-height: 100%;
}

.nav {
    margin-top: 20px;
}

.status_contents {
    height: 400px;
}

.temperature--container, .magnet-field-value--container {
    padding-top: 67px;
}
